@inherits LayoutComponentBase

<PageTitle>NutriApp</PageTitle>

<div class="page">
    <!-- Comment out the sidebar -->
    <!--
    <div class="sidebar">
        <NavMenu />
    </div>
    -->

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
